* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(233, 233, 233);
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}
h1 {
  color: #ec4f4f;
  font-family: fantasy;
  font-weight: 100;
  text-align: center;
  margin-bottom: 10px;
}
p {
  color: #ec4f4f;
  font-family: fantasy;
  font-size: large;
  font-weight: 900;
  text-align: center;
}

.seta {
  display: flex;
  height: 5vh;
  align-items: self-start;
  width: 100vw;
}
.geral {
  width: 98vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
form {
  display: flex;
  flex-direction: column;

  gap: 2%;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
}
.button-back {
  height: 50px;
  width: 50px;
  max-height: 50px;
  min-height: 10px;
}
.inputs {
  font-family: fantasy;
  font-weight: lighter;
  color: #ec4f4f;

  display: flex;
  flex-wrap: wrap;
  width: 70%;
  padding-bottom: 1%;
}
.inputs input {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
  width: 400px;
  height: 50px;
  border-radius: 5px;
  outline: none;
}
.inputs label {
  width: 400px;
  font-size: large;
}
.entradas {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  gap: 25px;
}
.entradas input {
  width: 20%;
}
.bloco {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.bloco input {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 80%;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  outline: 0;
}
.input_1 {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
}
.input_2 {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#metas {
  display: none;
}
#Meta {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  height: 50px;
}
select {
  outline: 0;
  border: none;
  width: 910px;
  height: 50px;
  border-radius: 4px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
}
button {
  font-weight: 100;
  font-size: large;

  color: white;
  font-family: fantasy;
  border-radius: 5px;
  background-color: #ec4f4f;
  height: 16%;
  width: 20%;
  cursor: pointer;
}
button:hover {
  background-color: #dd4040;
}
/* CSS media query dentro de um stylesheet */
@media (max-width: 1244px) {
  select {
    width: 810px;
  }
  .entradas {
    flex-wrap: nowrap;
    width: 70%;
  }
}
@media (max-width: 1200px) {
  select {
    width: 90%;
  }
  .inputs input {
    width: 80%;
  }
  .inputs label {
    width: 80%;
  }
  .inputs {
    width: 100%;
  }
  .entradas {
    flex-wrap: nowrap;
    width: 90%;
  }
}

@media (max-width: 500px) {
  .entradas {
    font-size: small;
  }
  button {
    margin-top: 10px;
    width: 50%;
  }
  h1 {
    font-size: 24px;
  }
  .inputs {
    margin-top: 10px;
  }
  #Meta {
    font-size: small;
  }
}
@media (max-width: 400px) {
}
