<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bem vindo</title>
    <link rel="stylesheet" href="style/menu.css" />
  </head>
  <body>
    <h1 style="text-align: center;">Bem vindo(a)! </br>O que você deseja fazer hoje?</h1>
    <div class="menu">
      <button id="criar">Criar Fluxo</button>
      <button id="publicar">Publicar Fluxo</button>
    </div>
  </body>
  <script src="replace_create.js"></script>
</html>
