<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Publicar Fluxo</title>
    <link rel="stylesheet" href="style/publicar.css" />
  </head>
  <body>
    <div class="seta">
      <img
        id="seta"
        src="/assets/SETA.svg"
        style="cursor: pointer"
        class="button-back"
      />
    </div>
    <div class="geral">
      <h1>
        Agora envie as tabelas correspondentes para publica-las no Power Bi
      </h1>
      <label id="entrada" for="entradas">Envie a tabela de entradas</label>
      <input type="file" id="entradas" />
      <label for="fluxo" id="label_fluxo">Envie a tabela com o fluxo</label>
      <input type="file" id="fluxo" />
      <select required>
        <option value="MAC">MAC</option>
        <option value="FILIAL">FILIAL</option>
      </select>
      <button id="enviar">Publicar</button>
    </div>
    <script src="arquivo_publicar.js"></script>
  </body>
</html>
